<template>
    <require from="./dashboard.scss"></require>
    <require from="./statusclass"></require>
    <require from="./animateresultonchange"></require>
    <require from="../dashboard-failed/dashboard-failed"></require>
    <div class="results-container">
        <div class="results-all">
            <h4 class="easy-spacer"><span class="fa fa-th-large">&nbsp;</span>Dashboard</h4>
            <table class="table table-hover table-condensed easy-spacer" if.bind="dashboardResults">
                <thead class="bg-primary text-light">
                    <tr>
                        <th>Description</th>
                        <th>Last update</th>
                        <th>Status</th>
                        <th>Next update</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr repeat.for="status of dashboardResults" model.bind="status" class.bind="status.lastStatus | statusClass" animateresultonchange.bind="status.lastStatus">
                        <td>${ status.description }</td>
                        <td>${ status.friendlyLastUpdated }</td>
                        <td>${ status.lastStatus }</td>
                        <td>${ status.friendlyNextUpdate }</td>
                        <td>
                            <span class='fa fa-list' click.delegate="detailsClick(status.id)"></span>
                            <span if.bind="status.lastStatus === 'Running'" class='pull-right fa fa-spin fa-circle-o-notch'></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="results-failed">
            <dashboard-failed />
        </div>
    </div>
</template>