<h1>Dashboard</h1>

<p *ngIf="!dashboardResults"><em>Loading...</em></p>

<table class="table table-hover table-condensed" *ngIf="dashboardResults">
    <thead>
        <tr>
            <th>Description</th>
            <th>Last update</th>
            <th>Status</th>
            <th>Refresh in</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let status of dashboardResults" class="{{getRowStyle(status)}}">
            <td>{{ status.description }}</td>
            <td>{{ status.friendlyLastUpdated() }}</td>
            <td>{{ status.lastStatus }}</td>
            <td>{{ status.friendlyNextUpdate() }}</td>
        </tr>
    </tbody>
</table>
