<template>
    <h4 class="easy-spacer"><span class="fa fa-th-large">&nbsp;</span>Dashboard</h4>
    <table class="table table-hover table-condensed easy-spacer" if.bind="dashboardResults">
        <thead>
        <tr>
            <th>Description</th>
            <th>Last update</th>
            <th>Status</th>
            <th>Next update</th>
        </tr>
        </thead>
        <tbody>
        <tr repeat.for="status of dashboardResults" class="${getRowStyle(status)}">
            <td>${ status.description }</td>
            <td>${ status.friendlyLastUpdated }</td>
            <td>${ status.lastStatus }</td>
            <td>${ status.friendlyNextUpdate }</td>
        </tr>
        </tbody>
    </table>
</template>