@{
    ViewData["Title"] = "Home Page";
}

<div aurelia-app="boot">
    <h3 style="margin: 100px auto; position: absolute; top: 30%; left: 40%; text-align: center ">Easy-Dash, loading</h3>
</div>

@section scripts {
    <script type="text/javascript" src="~/dist/vendor.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/dist/app.js" asp-append-version="true"></script>
}
