body {
	min-height: 1080px;
	padding-top: 70px;
}

ux-dialog-overlay.active {
	opacity: 0.5;
	background-color: black;
}

.easy-spacer {
	margin-top: 20px;
}

ux-dialog {
	min-width: 450px;
	background-color: rgba(68, 68, 68, 0.5);

	form {
		padding: 5px 10px;

		input.form-control {
			text-align: left;
		}
	}


}

.easy-dialog-padding {
	padding: 10px;
}


.navbar-dark .navbar-nav .nav-link:hover {
	color: #191919;
}

.navbar-dark .navbar-nav .nav-link:active {
	color: #191919;
}