<template>
    <require from="./configure.css"></require>
    
    <div if.bind="configurations.length > 0">
        <h4 class="easy-spacer"><span class="fa fa-cogs">&nbsp;</span>Configurations</h4>
        <table class="table table-hover table-condensed easy-spacer" if.bind="configurations">
            <thead class="table-success">
            <tr>
                <th>Description</th>
                <th>Url</th>
                <th>Status</th>
                <th>Interval</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr repeat.for="config of configurations">
                <td>${ config.description }</td>
                <td>${ config.url }</td>
                <td>${ config.statusCode }</td>
                <td>${ config.scheduleTime } minutes</td>
                <td>
                    <span class='fa fa-edit' click.delegate="editClick(config.id)"></span>
                </td>
                <td>
                    <span class='fa fa-remove' click.delegate="deleteConfiguration(config.id)"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row" if.bind="!loading">
        <div class="col-md-12">
            <button class="btn btn-success pull-right" click.delegate="addConfiguration()">
                <i class="fa fa-plus"></i>&nbsp;Add
            </button>
        </div>
    </div>
</template>