
<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" aria-controls="appNavigation" [attr.aria-expanded]="!isCollapsed" aria-label="Toggle navigation" (click)="toggleMenu()">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Easy-Dash</a>
    <div class="collapse navbar-collapse" id="appNavigation">
        <div class="navbar-nav mr-auto">
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/dashboard']">
                        <span class='fa fa-th-large'></span> Dashboard
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/configure']">
                        <span class='fa fa-cog'></span> Configure
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/about']">
                        <span class='fa fa-flash'></span> About
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
