li .glyphicon {
    margin-right: 10px;
}

/* Highlighting rules for nav menu items */
li.link-active a,
li.link-active a:hover,
li.link-active a:focus {
    background-color: #4189C7;
    color: white;
}

/* Keep the nav menu independent of scrolling and on top of other items */



@media (min-width: 768px) {
    /* On small screens, convert the nav menu to a vertical sidebar */
	.navbar {
		margin-top: 7px;
	}

    .navbar ul {
        float: left;
    }
    .navbar li {
        float: left;
        font-size: 15px;
        margin: 6px;
    }
    .navbar li a {
        padding: 10px 16px;
        border-radius: 4px;
    }
}
